<div style="height:850px;width:650px;margin:50px auto;">
    <volist name="showfriends" id="friend">
        <div style="height:190px;width:140px;float:left;margin-top:10px;margin-left:10px;border:1px solid #ccc;">
            <a href="__APP__/Home/User/Index/name/{$friend.name}">
                <if condition="$friend.headimg neq ''">
                    <img style="display:block;height:140px;width:auto;margin:10px auto;" src="__PUBLIC__/img/head/{$friend.headimg}" />
                    <else/>
                    <img style="display:block;height:140px;width:auto;margin:10px auto;" src="__PUBLIC__/img/head/default.jpg" />
                </if>
                <div style="height:30px;width:140px;text-align: center;line-height: 30px;">{$friend.name}</div>
            </a>
        </div>
    </volist>
</div>